
.user-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10rem;
	padding-top: 7rem;
	padding-bottom: 7rem;
	width: 50rem;
}

.user-login h2 {
	font-size: 4.5rem;
	font-weight: bold;
	margin-bottom: 5rem;
	color:  rgb(102, 162, 253);;
}


.user-login p {
	display: flex;
	flex-direction: column;
	font-weight: bold;
}

.user-login label {
	display: none;
}
.user-login input{
	width: 35rem;
	height: 5rem;
	border: none;
	padding: 0.5rem 1.8rem 0.5rem 1.8rem;
	margin-top: 2rem;
}

.user-login input:not(.login_btn){
	background-color: rgb(230, 230, 230);

}

.user-login a {
	margin-top: 3rem;
	color: rgb(102, 162, 253);
}

.login_btn {
	font-weight: bold;
	margin-top: 2rem;
	background: rgb(102, 162, 253);
	color: white;
}

.errorlist {
	font-weight: bold;
}