<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>블로그</title>
        <link rel="stylesheet" href="{% static 'blog/css/reset.css' %}" />
        <!-- font : pretendard -->
		<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />

		<link rel="stylesheet" href="{% static 'blog/css/global.css' %}" />

		<!-- layout -->
		<link rel="stylesheet" href="{% static 'blog/css/header.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/footer.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/about.css' %}" />

		<!-- component -->
		<link rel="stylesheet" href="{% static 'blog/css/button.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/banner.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/category.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/author.css' %}" />

		<link rel="stylesheet" href="{% static 'blog/css/post.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/posts.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/main.css' %}" />

        <link rel="stylesheet" href="{% static 'blog/css/wrapbox.css' %}" />
		<link rel="stylesheet" href="{% static 'blog/css/view.css' %}" />

		<!-- Toast UI Editor -->
		<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
		<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	
    </head>
    <body>
        <!-- header -->
		<header>
			<div class="max-width">
				<h1>
					<a href="{% url 'home' %}">
						<img src="{% static 'blog/assets/Logo.svg' %}" alt="My Blog" />
					</a>
				</h1>
				<div>
					<form action="{% url 'blog:search' %}" method="get">
						<input placeholder="Search by title" ,type="text" , name="keyword" , required>
						<input type='submit' value="찾기">
					</form>
				</div>
				<ul>
                    {% if request.user.is_authenticated %}
					<!-- 로그인 -->
					<li class="profile-img">
						<a href="{%url 'user:profile' %}">
							<img src="{{ request.user.profile.avatarUrl.url }}" alt="My Profile" />
						</a>
					</li>
					<li>
						<a href="{% url 'blog:write' %}" class="button">
							<img src="{% static 'blog/assets/icon-modify-white.svg' %}" alt="" />
							<span>Write</span>
						</a>
					</li>
					<li>
						<button class="button white">
							<img src="{% static 'blog/assets/icon-logout.svg' %}" alt="" />
							<a href="{%url 'user:logout' %}">Logout</a>
						</button>
					</li>
					<!-- //로그인 -->
                    {% else %}
					<!-- 로그아웃 -->
					<li>
						<a href="#" class="button gray">
							<img src="{% static 'blog/assets/icon-login.svg' %}" alt="" />
							<a href="{%url 'user:login' %}">Login</a>
						</a>
					</li>
					<li class="only-pc">
						<a href="#" class="button gray">
							<img src="{% static 'blog/assets/icon-register.svg' %}" alt="" />
							<a href="{%url 'user:join' %}">join</a>
						</a>
					</li>
					<!--// 로그아웃 -->
                    {% endif %}
				</ul>
			</div>
		</header>
		<!--// header -->
        <main class="container">
            {% block content %} 
            {% endblock %}
        </main>
        <!-- footer -->
		<footer>
			<div class="max-width">
				<h2>Copyright 2023. Chilli All rights reserved.</h2>
				<button class="top-button">TOP</button>
			</div>
		</footer>
		<!-- //footer -->
		<script src="{% static 'blog/js/editor.js' %}"></script>
    </body>
</html>
   