{% extends 'blog/base.html' %} 
{% load static %}

{% block content %}
    <!-- main -->
    <main>
        <!-- banner -->
        <div class="banner">
            <div class="max-width">
                <div class="banner-contents">
                    <p class="sub-text">Welcome!</p>
                    <p class="main-text">BLOG</p>
                    <p class="description">
                        안녕하세요. 저의 블로그에 오신걸 환영합니다 :) 재밌게 즐기다 가시길 바랍니다.
                    </p>
                </div>
            </div>
        </div>
        <!-- //banner -->
        <!-- posts -->
        <div class="max-width">
            <h2 class="a11y-hidden">Post</h2>
            {% if posts %}
            <ul class="posts">
                {% for post in posts %}
                <li>
                    <a href="{% url 'blog:detail' pk=post.pk %}" class="post">
                        <article>
                            <img src="{% static 'blog/images/post-img6.jpg' %}" alt="" />
                            <div class="contents-wrap">
                                <!-- category -->
                                <dl class="category">
                                    <dt class="a11y-hidden">Category</dt>
                                    <dd>{{ post.category }}</dd>
                                </dl>
                                <!-- //category -->

                                <h3>{{post.title}}</h3>
                                <dl class="post-views">
                                    <dt class="a11y-hidden">views</dt>
                                    <dd class="views">Views : {{post.views}}</dd>
                                </dl>
                                <!-- author -->
                                <dl class="author-wrap">
                                    <dt class="a11y-hidden">Author</dt>
                                    <dd class="author"><img src="{{ post.writer.profile.avatarUrl.url }}" alt="" /> {{ post.writer.profile.name }}</dd>
                                    <dt class="a11y-hidden">Created</dt>
                                    <dd class="created">{{post.created_at}}</dd>
                                </dl>
                                <!-- //author -->
                            </div>
                        </article>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>작성된 게시물이 없습니다.</p>
            {% endif %}
            <!-- //posts -->

            <!-- about -->
            {% if request.user.is_authenticated %}
            <aside class="about">
                <h2>About Me</h2>
                <img src="{{request.user.profile.avatarUrl.url}}" alt="" class="user-profile" />
                <p class="user-name">{{request.user.profile.name}}</p>
                <p class="user-description">{{request.user.profile.aboutMe}}</h3>
                <ul class="categories">
                    {% for category in categories %}
                        <li><a href="#">{{category}}</a></li>
                    {% endfor %}
                </ul>
                <h3>Follow</h3>
                <ul class="sns">
                    <li>
                        <a href="#">
                            <img src="{% static 'blog/assets/Facebook.svg' %}" alt="Facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'blog/assets/Twitter.svg' %}" alt="Twitter" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'blog/assets/Instagram.svg' %}" alt="Instagram" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'blog//assets/Github.svg' %}" alt="GitHub" />
                        </a>
                    </li>
                </ul>
            </aside>
            {% endif %}
            <!--//about -->
        </div>
    </main>
    
{% endblock %}
