{% extends 'blog/base.html' %} 
{% load static %}

{% block content %}
	<div class="banner" style="background-image: url({% static 'blog/images/post-background6.jpg'%})">
		<div class="max-width">
			<div class="banner-contents">
				<p class="today">May <em>25</em> Wednesday</p>
			</div>
		</div>
	</div>
	<div class="view">
		<div class="max-width">
			<section class="wrap-box">
				<div class="inner">
					<!-- author -->
					<dl class="author-wrap">
						<dt class="a11y-hidden">Author</dt>
						<dd class="author">
							{% if post.writer.profile.avatarUrl.url %}
								<img src="{{ post.writer.profile.avatarUrl.url }}" alt="" />
							{% else %}
								<img src="{%static 'user/image/basic_profile.jpg'%}" alt=""/>
							{% endif %}
							{{ post.writer.name }}
						</dd>
						<dt class="a11y-hidden">Created</dt>
						<dd class="created">{{ post.created_at }}</dd>
						<dt class="a11y-hidden">Views</dt>
						<dd class="views">조회수 : {{ post.views }}</dd>
					</dl>
					<!-- //author -->
					<!-- category -->
					<dl class="category">
						<dt class="a11y-hidden">Category</dt>
						<dd>{{ post.category }}</dd>
					</dl>
					<!-- //category -->
					<div class="title-wrap">
						<h2>{{ post.title }}</h2>
					</div>
					<hr />
					<div class="view-contents">
						{{ post.content | safe }}
					</div>
					<hr />
					<!-- 댓글 작성 화면 -->
					<h3 class='comment_title'>Comments</h3>
					<!-- 댓글 출력 화면 -->
					<ul class='post_comments'>
						{% if comments %}
						{% for comment in comments %}
							<li>
								<p>{{ comment.writer }}</p>
								<p>{{ comment.content }}</p>
								<form action="{% url 'blog:cm-delete' pk=comment.pk %}" method="post">
									{% csrf_token %}
									<input type="submit" class="btn btn-outline-success" value="X"></input>
								</form>
							</li>
						{% endfor %}
						{% else %}
							<li>댓글이 없습니다.</li>
						{% endif %}
						</ul>
					<form class='comment_input' style="display: flex; align-items: center;" action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
						{% csrf_token %}
						{{ comment_form.content }}
						<input style="margin-left: 5px;" type="submit" class="btn btn-outline-success" value="댓글 작성"></input>
					</form>
					{% if request.user == post.writer %}
						<div class="btn-group">
							<a href="{% url 'blog:edit' pk=post.pk %}" class="btn-modify">
								<span class="a11y-hidden">modify</span>
							</a>
							<form action="{% url 'blog:delete' pk=post.pk %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn-delete">
									<span class="a11y-hidden">delete</span>
								</button>
							</form>
							
						</div>
						
					{% endif %}
					
					<a href="{% url 'blog:list' %}" class="btn-back">
						<span class="a11y-hidden">Back</span>
					</a>
				</div>
			</section>
		</div>
	</div>
{% endblock %}