{% extends 'base.html' %} 
{% load static %}
{% load getValue %}

{% block content %}
	<div class="view">
		<div class="max-width">
			<section class="wrap-box">
				<div class="inner">
					{% if post.thumbnail %}
						<div class="img-wrap" style="background-image: url({{ post.thumbnail }}); background-size: cover; background-position: center;">
						</div>
					{% endif %}
					<div class="title-wrap">
						<h2>{{ post.title }}</h2>
					</div>
					<!-- author -->
					<dl class="author-wrap">
						<dt class="a11y-hidden">Author</dt>
						<dd class="author">
							{% if post.writer.profile.avatarUrl.url %}
								<img src="{{ post.writer.profile.avatarUrl.url }}" alt="" />
							{% else %}
								<img src="{%static 'user/image/basic_profile.jpg'%}" alt=""/>
							{% endif %}
							{{ post.writer.name }}
						</dd>
						<dt class="a11y-hidden">Created</dt>
						<dd class="created">{{ post.created_at }}</dd>
						<dt class="a11y-hidden">Views</dt>
						<dd class="views">조회수 : {{ post.views }}</dd>
					</dl>
					<!-- //author -->
					<!-- category -->
					<dl class="category">
						<dt class="a11y-hidden">Category</dt>
						<dd>{{ post.category.name }}</dd>
					</dl>
					<hr />
					<!-- //category -->
					<div class="view-contents">
						{{ post.content | safe }}
					</div>
					<hr />
					<!-- 댓글 작성 화면 -->
					<h3 class='comment_title'>Comments</h3>
					{% if request.user.is_authenticated %}
					<form class='comment_input' style="display: flex; align-items: center;" action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
						{% if request.user.profile.avatarUrl %}
                            <img src="{{request.user.profile.avatarUrl.url}}" alt="" class="loginuser_avatar" />
                        {% else %}
                            <img src="{%static 'user/image/basic_profile.jpg'%}" alt="" class="loginuser_avatar" />
                        {% endif %}
						{% csrf_token %}
						{{ comment_form.content }}
						<button calss="comment-submit" type="submit" value=""><i class="fa-solid fa-paper-plane"></i></button>
					</form>
					{% endif %}
					<!-- 댓글 출력 화면 -->
					<ul class='post_comments'>
						{% if comments %}
						{% for comment in comments %}
							<li class='post_comment'>
								<img class='comment_writer_avatar' src={{comment.writer.profile.avatarUrl.url}}></img>
								<div class='comment_writer_info'>
									<p class='comment_writer_name'>{{ comment.writer.profile.name }}</p>
									<p class='comment_writer_content'>{{ comment.content }}</p>
								</div>
								{% if request.user == comment.writer %}
								<form class='comment_writer_delete' action="{% url 'blog:cm-delete' pk=comment.pk %}" method="post">
									{% csrf_token %}
									<input type="submit" class="btn-delete" value=""></input>
								</form>
								{% endif %}
							</li>
						{% endfor %}
						{% else %}
							<li>댓글이 없습니다.</li>
						{% endif %}
					</ul>
					{% if request.user == post.writer %}
						<div class="btn-group">
							<a href="{% url 'blog:edit' pk=post.pk %}" class="btn-modify">
								<span class="a11y-hidden">modify</span>
							</a>
							<form action="{% url 'blog:delete' pk=post.pk %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn-delete">
									<span class="a11y-hidden">delete</span>
								</button>
							</form>
							
						</div>
						
					{% endif %}
					
					<a href="{% url 'blog:list' %}" class="btn-back">
						<span class="a11y-hidden">Back</span>
					</a>
			</section>
		</div>
	</div>
{% endblock %}