.author-wrap {
	display: flex;
	gap: 1rem;
	color: #767676;
	font-size: 1.2rem;
}
.author-wrap dd {
	display: flex;
	align-items: center;
	gap: 0.6rem;
	margin-bottom: 1rem;
}

.author img {
	width: 2em;
	height: 2em;
	border-radius: 50%;
}

.post_like_btn {
	border: none;
	background: none;
	color: rgb(218, 55, 55);
}

.post_like_btn i {
	font-size: 2rem;
}

.created::before {
	content: "";
	display: block;
	width: 1px;
	height: 0.8em;
	margin-right: 1rem;
	background: var(--border-color);
}

.views::before {
	content: "";
	display: block;
	width: 1px;
	height: 0.8em;
	margin-right: 1rem;
	background: var(--border-color);
}