.post_write {
    margin-top: 5rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.post_write p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post_title ,
.post_category,
.post_thumbnail {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(46, 46, 46);
}

.post_title_input {
    width: 100%;
    height: 4.2rem;
	padding: 0.5rem 1.1rem 0.5rem 1.1rem;
    font-size: 1.8rem;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}

.post_category_input {
    width: 25%;
    padding: 0.5rem 1.1rem 0.5rem 1.1rem;
    height: 3.4rem;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}

input[type=file]::file-selector-button {
    width: 35%;
    height: 3.4rem;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    cursor: pointer;
}

.thumbnail_preview {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.thumbnail_preview > img {
    box-sizing: border-box;
}

#editor {
    margin-top: 2rem;
}
.save_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.post_save {
    font-weight: bold;
	margin-top: 2rem;
	background: rgb(55, 170, 236);
	color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
}