<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>블로그</title>
        <link rel="stylesheet" href="{% static 'blog/css/reset.css' %}" />
        <!-- font : pretendard -->
		<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
		<link rel="stylesheet" href="{% static 'blog/css/global.css' %}" />

		<!-- component -->
		<link rel="stylesheet" href="{% static 'blog/css/button.css' %}" />

		<!-- user -->
		<link rel="stylesheet" href="{% static 'user/css/login.css' %}" />

    </head>
    <body>
        <main>
    		<form class="user-login" action="{% url 'user:login' %}" method="post">
                <h2>LOGIN</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <a href="{%url 'user:join' %}">회원가입 바로가기</a>
                <input class="login_btn" type="submit" value="로그인">
            </form>
        </main>
    </body>
    <script src="{% static 'user/js/login.js' %}"></script>
</html>
